@import "bourbon/dist/bourbon";

* { @include box-sizing(border-box) }

// Colors from http://coolors.co/cc3910-f9fadd-d4ceac-8fa68e-332f29
$color1: #F9FADD;
$color2: #D4CEAC;
$color3: #8FA68E;
$color4: #332F29;
$color5: #CC3910;

h1, h2, h3 { margin: 5px 0 }

body {
	font-family: "ff-tisa-web-pro", serif;
	font-size: 16px;
}

.overlay {
	z-index: 10;
	background: rgba(black,.5);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	display: none;
}

ul {
	list-style: none;
	margin: 0;
	padding: 2em;
}

a {
	text-decoration: none;
}

.container {
	max-width: 480px;
	margin: 0 auto;
	box-shadow: 0 0 1px #ccc;
}

.berlin {
	z-index: 1;
	overflow: hidden;
	position: relative;

	img {
		display: block;
		width: 100%;
	}

	h1 {
		font-size: 16px;
		font-weight: normal;
		text-align: center;
	}

	.cam {
		margin-top: -3em;
	}
}

.portugal {
	padding: 2em 3em;

	.dropdown {
		border-radius: 4px;
		padding: 7px 20px 13px;
		border: 1px solid black;
		margin-bottom: 1.5em;

		a {
			display: block;
			color: black;
		}

		h1 { margin: 0 }
	}

	li {
		margin-bottom: 3.5em;

		&:last-child { margin-bottom: 0 }
	}

	h2 {
		line-height: 1.3;
		font-size: 1.5em;
		margin-bottom: 15px;
		letter-spacing: -1px;
	}

	.date {
		color: $color3;
	}

	.copy {
		margin-top: .75em;
	}
}

.sources {
	padding: 1em 0 0;

	li {
		margin-bottom: 1em;

		strong { font-size: 32px }

		&:last-child { margin-bottom: 0 }
	}
}

.news {
	padding: 0;
}
