@import "../assets/styles/bourbon/bourbon";

/* ==========================================================================
   Defaults
   ========================================================================== */

* { @include box-sizing(border-box) }

// Colors from http://coolors.co/cc3910-f9fadd-d4ceac-8fa68e-332f29

$color1: #F9FADD;
$color2: #D4CEAC;
$color3: #8FA68E;
$color4: #332F29;
$color5: #CC3910;

h1, h2, h3 { margin: 5px 0 }

body {
	font-family: "ff-tisa-web-pro", serif;
	font-size: 16px;
	margin: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

.container {
	max-width: 480px;
	margin: 0 auto;
	border: 1px solid #f1f1f1;
	padding: 2em 3em;
	position: relative;
}

header {
	img {
		@include size(3em);
		display: block;
	}
}

/* ==========================================================================
   Sources drop-down
   ========================================================================== */

.source-list {
	@include transition(background border .3s);
	background: rgba(white, 0);
	padding: 1em 0 1em;
	position: absolute;
	top: 8em;
	left: 3em;
	right: 3em;

	&.active {
		@include transition(background border .3s);
		@extend .container;
		padding: 1em 0 1em;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		background: rgba(white, .95);
		border: none;
		border-bottom: 1px solid #f1f1f1;
		z-index: 100;

		&:after { top: 2em }

		.icon {
			@include transition(opacity .3s);
			opacity: 1;
			top: 1.5em;
			left: 1.1em;
		}

		select {
			padding-left: 4.5em;
		}
	}

	&:after {
    content: '▴';
    @include size(1em);
    @include transform(rotate(180deg));
    display: block;
    position: absolute;
    z-index: 25;
    right: 1em;
    top: 2.1em;
    color: #222;
  }
}

.icon {
	@include size(1.3em);
	display: block;
	position: absolute;
	top: .5em;
	left: 0;
	opacity: 0;
}

select {
  @include appearance(none);
  padding: 1em;
  width: 100%;
  background: none;
  border: 1px solid #f1f1f1;
  border-radius: 3px;
  white-space: nowrap;
  cursor: pointer;
  position: relative;
  box-shadow: none;
  z-index: 30;
}

/* ==========================================================================
   Cover
   ========================================================================== */

.cover {
	margin-top: 4em;
	padding-top: 3em;

	img {
		display: block;
		width: 100%;
	}
}

/* ==========================================================================
   News list
   ========================================================================== */

.news {
	padding: 3em 0 0;

	&.no-cover {
		margin-top: 4em;
		padding-top: 3em;
	}

	li {
		margin-bottom: 3em;

		&:last-child { margin-bottom: 0 }
	}
}

/* ==========================================================================
   Articles
   ========================================================================== */

article {
	a { color: black }

	h2 {
		display: inline;
		line-height: 1.3;
		font-size: 1.5em;
		margin-bottom: 15px;
		letter-spacing: -1px;
	}

	.categories { 
		font-weight: 100;
		font-size: 15px;
		letter-spacing: 1px;
		display: inline;
		padding-left: .5em;

		em {
			position: relative;
			top: -3px;
			margin-right: 3px;
			text-transform: uppercase;
			font-style: normal;
			display: inline-block;
			font-size: .6em;
			border: 1px solid #ccc;
			color: #ccc;
			border-radius: 3px;
			padding: .3em;
			line-height: 1;
		}
	}

	.meta {
		font-size: .8em;
		color: $color3;
	}

	.content {
		margin-top: .75em;

		&:hover,
		&:focus {
			cursor: pointer;
		}

		.snippet { display: block }
		.full { display: none }
	}

	.toggle-view {
		.snippet { display: none }
		.full { display: block }	
	}
}
